.App {
  text-align: center;
}
.navbar-width {
  width: 100%;
}
.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(53, 58, 64);
  /* background: url("bg.jpg") no-repeat center center; */
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: white;
}


.App-imageUpload{
  font-size: 30px;
}
.App-imageUpload:after {
  content: "";
  display: table;
  clear: both;
}

.App-column{
  float: left;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.downloadcontainer {
  margin: auto;
  width: 50%;
  margin-bottom: 3%;
}
.home {

}
.beijing {
  width: auto;
  margin: auto auto;
  text-align: center;

}
.beijing img {
  display: inline-block !important;
  margin-top: 3%;
  width: 350px;
  height: 270px;
  /* max-width: 100% !important; */
}
.buttons {
  margin: 3% auto;
  width: 50%;
}
.onebutton {
  /* margin: 5% auto; */
}

.div-center {
  text-align: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.div-center-img {
  margin-bottom: 3%;
}

/*------------------------------------------------------*/
/* BUTTONS */
/*------------------------------------------------------*/
.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-mid {
    border-radius: 50px / 50px ;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-big {
    border-radius: 0px;
    text-decoration: none;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}
.btn-dark:hover,
input[type="submit"]:hover,
.btn-dark.active{
    border:solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}
